/*HTML element outliner*/
:root {
    --zero-border: red;
    --one-border: orange;
    --two-border: yellow;
    --three-border: green;
    --four-border: blue;
    --five-border: purple;
    --six-border: pink;
    --seven-border: brown;
    --eight-border: gray;
    --nine-border: black;
    --none-border: transparent;
  }
  * {
    border: solid;
    border-color: var(--zero-border);  
  }
  * > * {
    border-color: var(--one-border);  
  }
  * > * > * {
    border-color: var(--two-border);  
  }
  * > * > * > * {
    border-color: var(--three-border);  
  }
  * > * > * > * > * {
    border-color: var(--four-border);  
  }
  * > * > * > * > * > * {
    border-color: var(--five-border);  
  }
  * > * > * > * > * > * > * {
    border-color: var(--six-border);  
  }
  * > * > * > * > * > * > * > *{
    border-color: var(--seven-border);  
  }
  * > * > * > * > * > * > * > * > *{
    border-color: var(--eight-border);  
  }
  * > * > * > * > * > * > * > * > * > * {
    border-color: var(--nine-border);  
  }
  /*HTML element outliner*/

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:auto;
    max-width: 100%;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}